pip==23.1.2
pyppeteer
dashscope
urllib3
requests
pydub
natsort
moviepy
ffmpeg-python
gradio
sqlalchemy
pgvector
alibabacloud_tea_openapi_sse
alibabacloud_tea_util_sse
alibabacloud_tea_openapi
alibabacloud_tea_util
alibabacloud_videoenhan20200320
google-genai
oss2
opencv-python
openai
psycopg2-binary
alibabacloud_quanmiaolightapp20240801
speechify-api
passlib
fastapi[standard]
python-jose
